<%- include("header.ejs", {section, nav}) %>

    <table class="data-table">
        <thead>
            <tr>
                <th><span>id</span></th>
                <th><span>номер</span></th>
                <th><span>тип</span></th>
                <th><span>площадь, м²</span></th>
                <th><span>корпус</span></th>
                <th><span>подъезд</span></th>
                <th><span>этаж</span></th>
                <th><span>действия</span></th>
            </tr>
        </thead>
        <tbody>
            <% if (data) { 
          for (let unit of data) { %>
            <tr data-id="<%= unit.unit_id %>">
                <td><%= unit.unit_id %></td>
                <td><%= unit.number %></td>
                <td><%= unit.description %></td>
                <td><%= unit.area %></td>
                <td><%= unit.building %></td>
                <td><%= unit.entrance %></td>
                <td><%= unit.floor %></td>
                <td>
                    <div class="table-actions">
                        <div class="action-edit"><a href="/units/edit/<%= unit.unit_id %>" data-id="<%= unit.unit_id %>" data-action="edit"><i class="icon-edit"></i></a></div>
                        <div class="action-disable"><a href="/units/disable/<%= unit.unit_id %>"><i class="icon-disable"></i></a></div>
                    </div>
                </td>
            </tr>
            <% }
      }
      else "error"; %>
        </tbody>
    </table>
</div>

<%- include("footer.ejs") %>