<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Отредактировать помещение</title>
</head>

<body>
  <header>
    <h1>Отредактировать помещение</h1>
    <div></div>
  </header>

  <form action="/units/edit/<%= unit.unit_id %>" method="post">
    <input type="text" name="unit_id" style="display: none;" value="<%= unit.unit_id %>">
    <input type="text" name="updated" style="display: none;" value="<%= Date.now() %>">
    <input type="text" name="number" id="" placeholder="номер" value="<%= unit.number %>">
    <select name="type_id" id="">
        <option value="1" <%- unit.type_id === 1 ? "selected" : null %>>жилое</option>
        <option value="2" <%- unit.type_id === 2 ? "selected" : null %>>нежилое</option>
    </select>
    <input type="text" name="area" id="" placeholder="площадь" value="<%= unit.area %>">
    <input type="number" name="building" id="" placeholder="корпус" value="<%= unit.building %>">
    <input type="number" name="entrance" id="" placeholder="подъезд" value="<%= unit.entrance %>">
    <input type="number" name="floor" id="" placeholder="этаж" value="<%= unit.floor %>">
    <input type="submit" value="Редактировать">
  </form>

</body>
</html>